@mixin animation-fade($time) {
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity $time;
  }
  .fade-enter,
  .fade-leave-to {
    @content;
  }
}

@mixin animation-backdrop($time, $brightness) {
  animation: $time backdrop;

  @keyframes backdrop {
    0% {
      backdrop-filter: brightness(1);
    }
    100% {
      backdrop-filter: brightness($brightness);
    }
  }
}
