@mixin transition-fade($time) {
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity $time;
  }
  .fade-enter,
  .fade-leave-to {
    @content;
  }
}

@mixin animation-rotation($time) {
  animation: $time rotation linear infinite;

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
