@import "../abstract/colors";

@mixin box-shadow {
  box-shadow: 0 10px 14px $shadow;
}

@mixin box-shadow-hover {
  box-shadow: 0 8px 12px $shadow;
}

@mixin box-shadow-active {
  box-shadow: 0 5px 5px $shadow;
}
