@import "../abstract/colors";
@import "./box-shadow";

@mixin app-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 180px;
  min-width: 150px;
  height: 2.5rem;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
  background-color: $btn-color;
  font-size: rem(14px);
  font-weight: 600;
  line-height: rem(18px);
  border: none;
  border-radius: 15px;
  @include box-shadow;
  cursor: pointer;
  transition: filter 0.3s ease, 1s ease;

  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform-style: flat;
    transform: translate3d(-50%, -50%, 0);
    background: rgba($black, 0.1);
    border-radius: 50%;
    transition: width 0.2s ease, height 0.2s ease;
  }

  &:disabled {
    @include box-shadow-disabled;
    cursor: not-allowed;
    background: $gray-300;
    transition: 1s ease;
  }

  @include has-min-width("xxs") {
    width: 200px;
    height: 3rem;
    max-width: 200px;
    margin-bottom: 0;
  }

  @include has-min-width("xs") {
    width: 250px;
    max-width: 250px;
    font-size: rem(16px);
  }

  @include can-hover() {
    &:not(:disabled):not(&:active):hover {
      filter: brightness(0.9);
      @include box-shadow-hover;
    }
  }

  &:not(:disabled):active {
    @include box-shadow-active;
    &::after {
      width: 300px;
      height: 300px;
    }
  }
}
