$black: #000;
$white: #fff;
$gray: gray;
$gray-50: #e8e6e6;
$gray-100: #dfddde;
$gray-200: #d0d0d0;
$gray-300: #b3b3b3;
$blue-200: #00adbb;
$blue-500: #004266;
$blue-600: #003f62;
$blue-800: #2c3e50;
$green-100: #08a130;
$green-200: #04912a;
$green-300: #038225;
$green-330: #078328;
$green-360: #077323;
$green-400: #066920;
$green-700: #034a16;
$green-800: #024012;
$green-900: #052517;
$red-300: #aa0000;
$red-700: #800000;

$app-background-center: $green-300;
$app-background-basic: $green-400;
$app-background-outside: $green-700;

$text-color: $blue-500;
$btn-color: $green-100;
$modal-color: $green-300;

$border: $gray;

$shadow: $green-700;
$shadow-on-hover: $green-700;

$dice-background: $red-300;
$dice-border: $red-700;

$table-col-odd-background: $green-360;
$table-col-even-background: $green-330;
$table-score-background: $blue-500;
